.splash_screen{
    background: rgba(26, 135, 221, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}
.logo{
    width: 200px;
    height: 200px;
}




