.resetpassword {
    position: relative;
}

.resetpassword_text {
    padding: 0 15px;
    margin-top: 20px;
}

.resetpassword_input {
    margin-top: 20px;
    padding: 0 15px;
}

.resetpassword_button {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    margin-top: 50px;
    background: #1a87dd;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
