
.resetpassword{
    position: relative;
}

.resetpassword_text{

    margin-top: 20px;
}

.resetpassword_input{
    margin-top: 40px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;
   
}

.resetpassword label{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #1a1a1a;
}
.resetpassword_input input{
    border: 1px solid rgba($color: #1a1a1a, $alpha: 0.1);
    margin-top: 8px;
    border-radius: 10px;
    padding: 14px;
    font-size: 14px;
    color: #1a1a1a;
    

}
.resetpassword_button{

    width: 100%;
    border-radius: 10px;
    height: 50px;
    margin-top: 50px;
    background: #1a87dd;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}