.detail_card-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 24px 15px 32px;
}
.detail_card_avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.detail_card_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.detail_form {
    padding: 0 15px;
}
.detail_input {
    display: flex;
    margin-bottom: 32px;
    flex-direction: column;
}
.detail_input label {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 21px; /* 150% */
}
.sendm .detail_input input {
    border-radius: 10px;
    border: 1px solid rgba(27, 42, 59, 0.1);
    background: #fff;
    width: 100%;
    height: 55px;
    padding: 15px;
    color: #f8bb18;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.sendm .detail_input textarea {
    border-radius: 10px;
    border: 1px solid rgba(27, 42, 59, 0.1);
    background: #fff;
    width: 100%;
    height: 200px;
    padding: 15px;
    resize: none;
    color: #f8bb18;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.sendm .detail_input input:focus {
    border: 1px solid #f8bb18;
}
.sendm .detail_input textarea:focus {
    border: 1px solid #f8bb18;
}
.detail_btn button {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
}
.sendm .detail_send {
    color: #1a1a1a;
    background: #f8bb18;
}
